* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(83, 230, 154);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 1.5cm;
  font-family: fantasy;
}
p {
  font-size: medium;
}

#anh1 {
  border: 2px solid greenyellow;
  border-radius: 10px;
}

#buttonn {
  background-color: yellow;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 0.75cm;
  font-family: sans-serif;
  border-radius: 8px;
  border: 1px solid green;

  margin-top: 10px;
  margin-bottom: 10px;
}
div {
  text-align: center;
}
#wakeUpTimeSelector {
  width: 4cm;
  height: 30px;
  text-align: center;
  font-size: 20px;
  margin-left: 13px;
  margin-bottom: 5px;
}

#lunchTimeSelector {
  width: 4cm;
  height: 30px;
  text-align: center;
  font-size: 20px;
  margin-left: 33px;
  margin-bottom: 5px;
}
#napTimeSelector {
  width: 4cm;
  height: 30px;
  text-align: center;
  font-size: 20px;
  margin-left: 60px;
}
h3 {
  font-size: 20px;
  margin-left: 38%;
}

.dong1 {
  margin-top: 10px;
  display: flex;
  /* margin-left: 3cm; */
}

.dong2 {
  display: flex;
  /* margin-left: 3cm; */
}

.dong3 {
  display: flex;
  /* margin-left: 3cm; */
}
