* {
  padding: 0;
  margin: 0;
}
.main {
  display: flex;
  padding: 15px;
  margin: 15px;
}
h3 {
  width: 35%;
  color: rgb(255, 0, 21);
  padding-left: 1cm;
}
.menu {
  text-align: center;
}

.menu ul {
  display: flex;
  list-style: none;
}
.menu ul li {
  width: 100px;
  padding-right: 20px;
}
.menu ul li a {
  text-decoration: none;
  text-align: center;
}
h1 {
  text-align: center;
}
.pic1 {
  size: 100px;
}
