* {
  box-sizing: border-box;
}
body {
  background-color: rgb(220, 218, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  max-height: 80%;
}
.square {
  background-color: white;
  box-shadow: 0 0 2px black;
  height: 50px;
  width: 50px;
  margin: 2px;
  transition: 1s;
}
.square:hover {
  transition-duration: 0s;
}
